NonprofitDataSolutions/FabricWorkload/config/templates/Manifest/CommonTypesDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CommonDefinitions" elementFormDefault="qualified"
	xmlns=""
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="SchemaVersion">
		<xs:annotation>
			<xs:documentation>
				The version should be SemVer compliant. https://semver.org/
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base ="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="16" />
			<xs:pattern value="(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Guid">
		<xs:annotation>
			<xs:documentation>
				The representation of a Guid.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonEmptyString">
		<xs:annotation>
			<xs:documentation>
				The representation of a non empty string.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>